<% if @page %>
  <h1><%= @page.title %></h1>
<% else %>
  <h1>Contact Us</h1>
<% end %>

<div>
  <p>We'd love to hear from you! Whether you have questions about our products, need support, or just want to provide feedback, we're here to help.</p>

  <h2>Contact Information</h2>
  <p>
    <strong>Email:</strong> <a href="mailto:support@techgadgethub.com">support@techgadgethub.com</a><br>
    <strong>Phone:</strong> +1 (123) 456-7890<br>
    <strong>Address:</strong> 123 Tech Lane, Gadget City, TC 12345
  </p>

  <h2>Customer Support Hours</h2>
  <p>
    Monday - Friday: 9:00 AM - 6:00 PM<br>
    Saturday: 10:00 AM - 4:00 PM<br>
    Sunday: Closed
  </p>

  <h2>Follow Us</h2>
  <p>
    Stay connected with us on social media for updates and promotions:
  </p>
  <ul>
    <li><a href="https://www.facebook.com/techgadgethub" target="_blank">Facebook</a></li>
    <li><a href="https://twitter.com/techgadgethub" target="_blank">Twitter</a></li>
    <li><a href="https://www.instagram.com/techgadgethub" target="_blank">Instagram</a></li>
  </ul>

  <h2>Feedback</h2>
  <p>
    We value your feedback! Please let us know how we can improve or if you have any suggestions by <a href="mailto:feedback@techgadgethub.com">emailing us</a>.
  </p>
</div>
